
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size:larger;
}
nav {
    display: flex; 
    justify-content: space-between; 
    background-color: blueviolet;
    padding: 20px 50px;
}
}
    .logo a, .menu {
        display: flex;
        gap: 10px;
    }
nav a{color: white; 
    text-decoration: none;
}